body{
    background-color: #F00;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

h1 { 
 font-size: 5em;
 text-decoration: dashed;

}

input {
 background-color: #0F0;
 transition: 1s all;
}

input:focus{
    outline: 0;
    transform: scale(1.5);
    
}